*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    background: #F7E8CA;
}

#place{
    font-size:0;
}

#chat {
    background: #FF9F40;
    font-family: arial, sans-serif;
    
    padding: 1%;
    border: 1px solid #A65200;
    color: black;
    box-shadow: 1px 6px 3px -3px lightgrey;
    margin: 0;
}


#chat-box {
    font-family: arial, sans-serif;
    
    height: 440px;
    border: 1px solid #A65200;
}

#box-1, #box-2{
    display:inline-block;
    vertical-align: top;
} 
#box-1{
    width:54%;
    font-size:18px;
    
    margin-right: 13%;
    margin-left: 3%;
}
#box-2{
    width:30%;
    font-size:18px;
}


#message {
    background: none;
    border: 1px solid #D8D6D3;
    box-shadow: 0px 3px 5px 0px;
    color: #7B6E59;
    font-family: arial, sans-serif;
    font-size: 17px;
    width: 89%;
    height: 30px;
    padding: 3%;
}

#submit-button {
        background: #FF9F40;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding: 1%;
    height: 47px;
    box-shadow: 0px 0px 1px 1px grey;
}

#submit-button:hover {
    background: white;
    color: #FF9F40;
    transition: 0.5s;
}
        
            
                /* user box */




#chat-user {
    font-family: arial, sans-serif;
    width: 90%;
    height: 350px;
    border: 1px solid #A65200;
}

#user-id {
    background: #FF9F40;
    font-family: arial, sans-serif;
    width: 90%;
    padding: 1%;
    border: 1px solid #A65200;
    color: black;
    box-shadow: 1px 6px 3px -3px lightgrey;
    margin: 0;
}
